.input {
	cursor: text;

	:where(input) {
		@apply inline-block h-full w-full appearance-none bg-transparent;
		border: none;

		&:focus,
		&:focus-within {
			@apply outline-hidden;
		}
	}
}

/* Input label on */
.input-on{
	@apply relative flex items-center;

	&:has(input:focus) .input-on-label,
	&:has(input:not(:placeholder-shown)) .input-on-label{
		opacity: 100;
		top: 0;
		transform: translateY(-60%);
	}
	/* &:has(input:focus) .input-on-label,
	&:has(input:valid) .input-on-label{
		opacity: 100;
		top: 0;
		transform: translateY(-60%);
	} */
}

.input-on-label{
	@apply absolute left-[0.5em] px-1 opacity-50;
	pointer-events: none;
	transition-property: all;
    transition-timing-function: ease;
	transition-duration: 200ms;
	background-color: var(--color-base-100);

	&.static {
		@apply absolute left-[0.5em] px-1 top-0 opacity-100;
		transform: translateY(-60%);
	}
}

/* --- */

.input-neutral {
	&,
	&:focus,
	&:focus-within {
		--input-color: var(--color-neutral);
	}
}

.input-primary {
	&,
	&:focus,
	&:focus-within {
		--input-color: var(--color-primary);
	}
}

.input-secondary {
	&,
	&:focus,
	&:focus-within {
		--input-color: var(--color-secondary);
	}
}

.input-accent {
	&,
	&:focus,
	&:focus-within {
		--input-color: var(--color-accent);
	}
}

.input-info {
	&,
	&:focus,
	&:focus-within {
		--input-color: var(--color-info);
	}
}

.input-success {
	&,
	&:focus,
	&:focus-within {
		--input-color: var(--color-success);
	}
}

.input-warning {
	&,
	&:focus,
	&:focus-within {
		--input-color: var(--color-warning);
	}
}

.input-error {
	&,
	&:focus,
	&:focus-within {
		--input-color: var(--color-error);
	}
}

.input-xs {
	--size: calc(var(--size-field, 0.25rem) * 6);
	font-size: 0.6875rem;

	&[type="number"] {
		&::-webkit-inner-spin-button {
			@apply -my-1 -me-3;
		}
	}
}

.input-sm {
	--size: calc(var(--size-field, 0.25rem) * 8);
	font-size: 0.75rem;

	&[type="number"] {
		&::-webkit-inner-spin-button {
			@apply -my-2 -me-3;
		}
	}
}

.input-md {
	--size: calc(var(--size-field, 0.25rem) * 10);
	font-size: 0.875rem;

	&[type="number"] {
		&::-webkit-inner-spin-button {
			@apply -my-3 -me-3;
		}
	}
}

.input-lg {
	--size: calc(var(--size-field, 0.25rem) * 12);
	font-size: 1.125rem;

	&[type="number"] {
		&::-webkit-inner-spin-button {
			@apply -my-3 -me-3;
		}
	}
}

.input-xl {
	--size: calc(var(--size-field, 0.25rem) * 14);
	font-size: 1.375rem;

	&[type="number"] {
		&::-webkit-inner-spin-button {
			@apply -my-4 -me-3;
		}
	}
}